*{
    border: 0px;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;   
}


/* Estilização Header */
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;

}

nav span{
    color: #75c78c;
}


.logo{
    width: 15%;
    font-size: x-large;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-end;
}

.logo a{
    text-decoration: none; /* Remove a decoração de link (sublinhado) */
    color: #333; /* Define a cor do texto (pode ser qualquer cor que você desejar) */
}
.categoria{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    margin-top: 5px;
    margin-bottom: 5px;
}

.barra_pesquisa{
    width: 30%;
    height: 40px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 100px;
    border: solid rgba(0, 0, 0, 0.5) 1px;
}

.barra_pesquisa input{
    width: 85%;
    height: 80%;
    outline: none;   
    font-size: large;
}


.auxilio_porcentagem{
    width: 15%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tres_icones{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tres_icones img{
    margin: 10px;
}
/* Estilização Header */

/* NavBar */
.nav_bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    color: #8C8C8D;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.nav_bar h1:hover{
    color: #75c78c;
    transition: 1s;
    transform:scale(1.1);
}
/* NavBar */


.container_carrinho{
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrinho{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn_finalizar{
    width: 100px;
    height: 25px;
    background-color: #75c78c;
    color: #1C1D1F;
    border-radius: 10px;
}





/* Footer */

#div-footer{
    position: static;
    background-color: #1C1D1F;
    color: white;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30%;
    justify-content: center;
    align-items: center;
    margin-top: 20%;

}

#div-footer h3{
font-weight: 100;
font-size: 20px;
margin: 10px;

}

#div-footer p{
    font-weight: 100;
    font-size: 20px;
    margin: 10px;

}

#area-lista-footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    margin: 20px;
    padding: 40px;
    border-top: solid 1px #acacac23;
}

#area-lista-footer li{
    list-style-type: none;
    margin:20px ;

}

